@model BusinessObjects.Models.Venue

@{
    var venue = new BusinessObjects.Models.Venue();
    if (Model != null) venue = Model;
}

<div class="modal show display-popup" id="myModal" role="dialog" style="font-size: 15px">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content" style="padding: 10px;">
            <form asp-controller="Venues" asp-action="Insert" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                </div>
                <div class="modal-body" style="max-height: 500px; overflow-y: scroll;">
                    <div class="row">
                        <div class="col-md-12">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="Name"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="Name" value="@venue.Name" />
                                    </span>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="Image"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="Image" value="@venue.Image" />
                                    </span>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="Street"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="Street" value="@venue.Street" />
                                    </span>
                                    <div class="k-form-hint">
                                        <span>Hint: enter alphanumeric characters only.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="WardId"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="WardId" value="@venue.WardId" />
                                    </span>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="GeoLocation"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="GeoLocation" value="@venue.GeoLocation" />
                                    </span>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="OpenTime"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="OpenTime" value="@venue.OpenTime" />
                                    </span>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="CloseTime"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="CloseTime" value="@venue.CloseTime" />
                                    </span>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="LowerPrice"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="LowerPrice" value="@venue.LowerPrice" />
                                    </span>
                                </div>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="UpperPrice"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="UpperPrice" value="@venue.UpperPrice" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="Status" />
                                    @Html.DisplayNameFor(model => model.Status)
                                </label>
                            </div>
                            <div class="k-label k-form-label k-form-field">
                                <label class="k-label k-form-label" asp-for="AccountId"></label>
                                <div class="k-form-field-wrap">
                                    <span class="k-input k-textbox k-input-solid k-input-md k-rounded-md">
                                        <input style="width: 100%" class="k-input-inner" type="text" asp-for="AccountId" value="@venue.AccountId" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Status" class="control-label"></label>
                                <select asp-for="Status" class="form-control" asp-items="ViewBag.CategoryID"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input style="font-size: 14px" type="submit" value="Save" class="btn btn-primary" />
                    <button style="font-size: 14px" id="removePopup" type="button" class="btn btn-secondary">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
